<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="main-containt">
        {{>header}}
        <img class="potrait" src="/img/robo.jpg" alt="img" />
    </div>

    {{>footer}}
</body>

</html>